{{!-- The following component displays Ember's default welcome message. --}}
<!-- {{welcome-page}} -->
{{!-- Feel free to remove this! --}}
<div class="header ">
  Vehicles_Ember Sample App
</div>
<div class="banner container-fluid">
  <div class="main row">
   {{outlet}}
</div>
</div>
<div class="footer">
</div>
